<div class="root">
  <img src="https://www.lillemetropole.fr/themes/custom/mel/images/logo-mel.svg" />

  <div class="direction-root">
    <button 
      *ngIf="direction$ | async as direction" 
      mat-raised-button 
      (click)="invertDirection(direction)"
    >
      <span *ngIf="direction === 'LILLE FLANDRES'">
        Eurotéléport/Tourcoing centre -> Lille flandres
      </span>
      <span *ngIf="direction === 'ROUBAIX/TOURCOING'">
        Lille flandres -> Eurotéléport/Tourcoing centre
      </span>

      <mat-icon>compare_arrows</mat-icon>
    </button>
  </div>

  <div class="station-root">
    <mat-form-field>
      <input 
        type="text"
        matInput 
        placeholder="Sélectionnez une station"
        (keyup)="onSearch($event)"
        [matAutocomplete]="auto" />
    </mat-form-field>

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let station of searchedStations$ | async" [value]="station">
        {{ station }}
      </mat-option>
    </mat-autocomplete>
  </div>

  <div *ngIf="(selectedStation$ | async) === undefined">
    Veuillez sélectionner une station
  </div>

  <div *ngIf="selectedStation$ | async as station">
    <div>
      Prochains départs à partir de {{ station }}
    </div>

    <mat-list>
      <ng-container *ngFor="let departure of (displayedDepartures$ | async)">
        <mat-list-item>
          {{ departure.estimatedStartDate | date:'shortTime' }}
        </mat-list-item>

        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
  </div>
</div>